# Database
DATABASE_URL=
DB_USERNAME=
DB_PASSWORD=

# JWT
JWT_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Mail
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

# Profile (dev | prod)
SPRING_PROFILES_ACTIVE=dev
